@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.blue-section {
    background-color: #1f2937;
}

.header {
    display: flex;
    padding: 10px 200px;
    justify-content: space-between;
    margin-bottom: 120px;
}

.header div {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header a,
.subtext {
    font-size: 12px;
    color: #afadad;
    text-decoration: none;
}

.header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 12px;
}

.second-section {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    margin-bottom: 48px;
}

.second-section-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.second-section img {
    height: 250px;
    width: 600px;
}

.large-text {
    font-size: 48px;
    font-weight: 950;
    color: #f9faf8;
}

.second-section button {
    color: white;
    background-color: #3882f6;
    height: 32px;
    width: 90px;
    font-weight: 900;
    border-radius: 12px;
    border: none;
}

.third-section {
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 120px;
    justify-content: space-between;
}

.introduction {
    text-align: center;
    font-size: 36px;
    font-weight: 950;
    color: #1F2937;
    padding: 48px;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
}

.image-container {
    width: 200px;
}

.description {
    text-align: center;
    font-size: 18px;
    color:#1F2937
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 200px;
    justify-content: center;
    gap: 24px;
}

.quote {
    align-self: flex-end;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quoted {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}

.action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.call-to-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    width: 900px;
    height: 150px;
    border-radius: 12px;
    gap: 16px;
}

.action-title {
    color: white;
    font-size: 24px;
}

.action-subtext {
    color: white;
}

.call-to-action button {
    color: white;
    background-color: #3882f6;
    border-color: white;
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    width: 120px;
    height: 42px;
    font-size: 16px;
    font-weight: 900;
}

.footer {
    display: flex;
    color: white;
    background-color: #1f2937;
    font-size: 18px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}