body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.top-section {
    background-color: #1f2937;  
}

.header {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 120px;
}

.header div {
    font-size: 24px;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.header a,
.subtext {
    font-size: 12px;
    color: #afadad;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 12px;
}

.second-section {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: space-between;
    margin-bottom: 48px;
}

.second-section-column {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    gap: 24px;
}

.second-section img {
    height: 250px;
    width: 600px;
}

.large-text {
    font-size: 48px;
    font-weight: 950;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    width: 350px;
}

.second-section button {
    color: white;
    background-color: #3882f6;
    height: 32px;
    width: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border-radius: 12px;
    border: none;
}

.third-section {
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 120px;
    justify-content: space-between;
}

.introduction {
    text-align: center;
    font-size: 36px;
    font-weight: 950;
    color: #1F2937;
    padding: 48px;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
}

.image-container {
    width: 200px;
}

.description {
    text-align: center;
    font-size: 18px;
    color:#1F2937
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 450px;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.quote {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    font-family: "Times New Roman";
    margin-left: 440px;
    margin-right: 440px;
}

.quotee {
    
}